extends layout

block content

  .login_layout
    h1
      img(src="./images/login_title.png")
    .login_wrapper
      .login_back
        span.login_logo
         div
           img(src="./images/logo_small.png")
        .login_input
          form(name="user", method="post",action="/")
            div
             dl
               dt ID
                .circle
               dd
                input#txtId(type="text", name="userId")
             dl
               dt PASSWORD
                .circle
               dd
                 input#txtPassword(type="password", name="userPassword")
            span
              a.btn_login(onclick="checklogin()")


