extends layout

block content

  h1= title
  form(name="user", method="post",action="/users")
    p UserName
    input(type="text",name="userid")
    p Password
    input(type="text",name="password")
    button(type="submit") Login


