
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
h5 {
  font-size: 1em;
  font-weight: bold;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal2 {
  max-width: 177px;
  margin: 30px auto;
  font-family: 'Droid Sans Mono';
}
.clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  margin-bottom: 3px;
}
.clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 10%;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #f4f4f4;
}
.clndr .clndr-controls .month {
  float: left;
  width: 80%;
  text-align: center;
}
.clndr .clndr-controls .clndr-next-button {
  float: left;
  width: 10%;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr .clndr-controls .clndr-next-button:hover {
  background-color: #f4f4f4;
}
.clndr .clndr-grid {
  text-align: center;
  border: 1px solid #FF4545;
  display: inline-block;
}
.clndr .clndr-grid .header-day {
  float: left;
  width: 25px;
  height: 25px;
  background: #FF4545;
}
.clndr .clndr-grid .day {
  float: left;
  width: 25px;
  height: 25px;
}
.clndr .clndr-grid .day.event {
  background-color: #B4E09F;
}
.clndr .clndr-grid .day.today {
  background-color: #E3C57F;
}
.clndr .clndr-grid .day.selected {
  background-color: #E37FD6;
}
.clndr .clndr-grid .day.inactive {
  color: gray;
}
.clndr .clndr-grid .empty,
.clndr .clndr-grid .adjacent-month {
  float: left;
  width: 25px;
  height: 25px;
  background: #ddd;
}
.clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.clndr .clndr-today-button:hover {
  background-color: #ddd;
}
.multi-month-controls .quarter-button {
  display: inline-block;
  width: 25%;
}
.multi-month-controls .quarter-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.day.inactive {
  background-color: #aaa;
}
.clndr-next-button,
.clndr-previous-button,
.clndr-next-year-button,
.clndr-previous-year-button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {
  opacity: 0.5;
  cursor: default;
}
